<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">


     <link rel="stylesheet" href="../css/uploader.css">
     <link rel="stylesheet" href="../css/profile.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">
	    <div class="profile-sidebar">
			
			<div class="profile-userpic">
			<!--"http://keenthemes.com/preview/metronic/theme/assets/admin/pages/media/profile/profile_user.jpg"-->
				<img src="img/profile_thumbnail.jpg" class="img-responsive" alt="">
			</div>
			
			<div class="profile-usertitle">
				<div class="profile-usertitle-name">
					<%= user.local.name %> no_name
				</div>
				<div class="profile-usertitle-job">
					Developer
				</div>
			</div>
			
			<div class="profile-userbuttons">
				<button type="button" class="btn btn-warning btn-sm changeProfilePic">Change Photo</button>
				<button type="button" class="btn btn-success btn-sm">Follow</button>
				<button type="button" class="btn btn-danger btn-sm">Message</button>
			</div>
			
			<div class="profile-usermenu">
				<ul class="nav">
					<li class="overview active">
						<a href="#">
						<i class="glyphicon glyphicon-home"></i>
						Overview </a>
					</li>
					<li class="settings">
						<a href="#">
						<i id="settings" class="glyphicon glyphicon-user"></i>
						Account Settings </a>
					</li>
					<li>
						<a href="#" target="">
						<i class="glyphicon glyphicon-ok tasks"></i>
						Tasks </a>
					</li>
					<li>
						<a href="#">
						<i class="glyphicon glyphicon-flag help"></i>
						Help </a>
					</li>
				</ul>
			</div>
			
		</div>
       
        <div class="col-sm-6">
            <div class="overview-bloc">
                <h3><span class="fa fa-user"></span> Local</h3>
                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>

            </div>
            <div class="settings-bloc">
            	<form action="/profile/infos/update" method="post">
            	        <div class="overview-form">
            	            <label>your name</label>
            	            <input type="text" class="form-control" name="name">
            	        </div>
            	        <div class="overview-form">
            	            <label>your job</label>
            	            <input type="text" class="form-control" name="job">
            	        </div>

            	        <button type="submit" class="btn btn-warning btn-lg">save</button>
            	    </form>
            </div>
        </div>

    </div>

</div>
<div class="modal fade" id="prizePopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <span class="glyphicon glyphicon-cloud-upload"></span>
            <h2>File Uploader</h2>
            <h4>coligo.io</h4>
            <div class="progress">
              <div class="progress-bar" role="progressbar"></div>
            </div>
            <button class="btn btn-lg upload-btn" type="button">Upload File</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
    </div>
  </div>
  </div>
<input id="upload-input" type="file" name="uploads[]" multiple="multiple"></br>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="vendor/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../js/profile.js"></script>
	<script type="text/javascript" src="../js/uploader.js"></script>
</body>
</html>